.formcontato{
    background: var(--color-fondo2);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.formcontato__contacto{
    margin-left: 2rem;
    margin-right: 2rem;

}

.formcontato__esquerda{
    display: none;
}

.formcontato__text{

}

.formcontato__title{
    font-size: 22px;
    font-weight: 700;
}

.formcontato__subtext{
    color: var(--color-texto2);
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

.formcontato__form{
    padding-top: 2rem;
}

.formcontato__input{
    width: 100%;
    height: 3rem;
    margin-bottom: 2rem;
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: var(--color-texto2);
}

.formcontato__input::placeholder{
    color: rgb(174, 174, 174);
    border-color: var(--color-textobtn);
}

.formcontato__textarea{
    width: 100%;
    height: 9rem;
    margin-bottom: 1rem;
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: var(--color-texto2);
}

.formcontato__textarea::placeholder{
    color: rgb(174, 174, 174);
    border-color: var(--color-textobtn);
}

.formcontato__botao{
    background: var(--color-textobtn);
    color: white;
    font-weight: 600;
    font-size: 14px;
    height: 2.5rem;
    width: 50%;
    border-color: var(--color-textobtn);
    border-style: solid;
}


@media screen and (min-width: 768px) {
    .formcontato__botao{
        height: 2.5rem;
        width: 20%;
    }
}

@media screen and (min-width: 1024px) {
    .formcontato__contacto{
        display: flex;
        margin-left: 7rem;
        margin-right: 7rem;
        padding-top: 5rem;
        padding-bottom: 4rem;
    
    }

    .formcontato__esquerda{
        display: flex;
    }

    .formcontato__img{
    }

    .formcontato__botao{
        width: 25%;
    }

    .formcontato__text{
        padding-left: 1rem;
    }

    .formcontato__title{
        font-size: 32px;
    }

}
