.hobbies{
    margin-left: .7rem;
    margin-right: .7rem;
}

.hobbies__title{
    color: var(--color-text2);
    font-size: 22px;
    text-align: center;
}

.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hobbies__box{
    display: flex;
    align-items:flex-end;
    background: #ffffff;
    width: 40%;
    height: 30%;
    margin-bottom: 2rem;
    padding-left: 0;
}

.hobbies__img{
    margin-bottom: 1rem;
}

.hobbies__name{
    font-size: 16px;
    font-weight: 700;
}

.hoobies__list{
    padding-left: 1rem;
}


@media screen and (min-width: 768px) {
    .hobbies{
        margin-left: 2rem;
        margin-right: 2rem;
    }


    .hobbies__box{
        width: 30%;
        height: 20%;
    }
}


@media screen and (min-width: 1024px) {
    .hobbies{
        margin-left: 7rem;
        margin-right: 7rem;
    }

    .hobbies__title{
        font-size: 32px;
    }

    .hobbies__box{
        width: 9rem;
        height: 9rem;
    }
    
}